<!DOCTYPE html>
<html lang="fi">
<head>
  <title>SoftiSivut</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner" id="hallintapaneeli">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/private_koti/">Hallintapaneeli</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to "Koti", "/private_koti" %></li>
            <li><%= link_to "Uutiset", "/muokkaa_uutisia" %></li>
            <li><%= link_to "Pelit", "/muokkaa_peleja" %></li>
            <li><%= link_to "Galleria", "/muokkaa_galleriaa" %></li>
            <li><%= link_to "Forum", "/foorumi" %></li>
          </ul>
        </div>
        <div class="pull-right">
        	<ul class="nav">
  				<% if current_user.nil? %>
  					<li><%= link_to "Logaa inee", new_user_session_path %></li>
  				<% else %>
  					<li><a href="/">Normisivusto</a></li>
  					<li class="divider-vertical"></li>
  					<li><span id="user_greeting">Moi <%= current_user.username %></span></li>
  					<li><%= link_to "Kirjaudu ulos", destroy_user_session_path, :method => "delete" %></li>
  				<% end %>
			</ul>
        </div>
      </div>
    </div>
  </div>

<div class="container kamat">
	<% if notice %>
		<div class="alert alert-info"><%= notice %></div>
	<% end %>
	
	<% if alert %>
		<div class="alert alert-info"><%= alert %></div>
	<% end %>
	
	<%= yield %>
</div>


</body>
</html>
